body
{
    background-color: black;
    color: white;
}
.navbar
{
    color: white;
    height: 8vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: black;
}

.feed{
    display: flex;
    width: 100vw;
}

.feedVideoContainer{
    position: relative;
    margin: auto;
    left: 7vw;
}

.sidebar{
    position:fixed;
    top: 0px;
    border-right: 4px solid gray;
    width: 15vw;
    display: flex;
    flex-direction: column;
    top: 8vh;
    left: 0px;
}

.sidebar button{
    border-radius: 20px 20px 20px 20px;
    border: none;
    font-size: large;
    background-color: black;
    width: 75%;
    margin: auto 5px;
    text-align: start;
    margin: 5px auto;
    padding: 2px;
    color: white;
    font-weight: 600;
}

.sidebar button:hover
{
    opacity: 1;
    background-color: #FC1503;
}

.videoContainer{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    /* top: 8vh; */
    justify-content: center;
}

.videoContainer a{
    height: 260px;
    background-color:#1c1b1b;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 24x;
}

.videoCard{
    width: 280px;
    max-width: 90vw;
}
.videoCard img{
    width: 100%;
    height: 150px;
}
.videoCard p{
    color: white;
    font-size:15px;
    margin-bottom:2px;
}

.stats{
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    padding: 4px;
    justify-content: space-between;
}
.stats span, a
{
    text-decoration: none;
    color: rgb(218, 215, 215);
    font-size: 10px;
}

.channelContainer{
    background-color: antiquewhite;
    margin: auto;
    width: 99vw;
}

.channel
{
    text-align: center;
    height: 300px;
    width: 200px;
    margin: auto;
    position: relative;
    top: 14vh;
}

.channel img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.channel p {
    margin: 2px;
    font-size: small;
}

.channelCard img{
    border-radius:50% ;
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 2vh;
}

.channelCard p{
    text-align: center;
    color: white;
}

.player{
    margin: auto;
    margin-top: 8.5vh;
    width: 640px;
    height: 400px;
}

@media (max-width: 1120px) {
    .sidebar
    {
        width: 100vw;
        height: 7vh;
        flex-direction: row;
        overflow-x: scroll;
        z-index: 2;
        background-color: black;
    }
    .videoContainer{
        margin: auto;
        width: 95vw;
        /* top: 18vh; */
        position: relative;
    }
    .feedVideoContainer
    {
        left: 0vw;
        top: 18vh;
    }
    .sidebar button{
        width: fit-content;
        margin-left: 5px;
        border: 1px solid red;
        padding: 0px 5px 0px 5px;
        margin-left: 12px;
        font-size: medium;
    }
    .channel
    {
        top: 20vh;
    }
    /* .player{
        height: 40vh;
    } */
}
@media (min-width: 632px) {
    .channel
    {
        top: 14vh;
    }
}
@media (max-width: 730px) {
    /* .videoContainer a{
        width: 100%;
    } */
    .videoContainer a {
        width: 100%;
        height: 300px;
      }
    .videoCard{
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }   
    .videoCard img{
        height: 200px;
    }  

}

@media (max-width: 632px) {
    .videoContainer a{
        width: 100%;
        height: 300px;
    }
    .videoCard{
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }  
    /* .player{
        height: 30vh;
    } */
}